body{
    background: black;
    color:white;
}
b{color: blue;}
i{color: red;}
/* настрока heder*/
#menu1,#menuDZ,#menu2 {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    z-index: 10;
}
#menu1 ul, #menuDZ ul,#menu2 ul{
    position: relative;
    display: block;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: auto;
    list-style: none;
}
#menu1 ul li,#menuDZ ul li {
    position: relative;
    display: block;
    width: auto;
    height: auto;
    float: left;
    background: #9e161f;
    transition: 0.5s;
}
#menu1 ul li a ,#menuDZ ul li a,#menu2 ul li a {
    display: block;
    padding: 9px 25px 0px 25px;
    front-size: 14px;
    line-height: 1.3em;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    height: 36px;
    box-sizing: border-box;
    color: white;
}
#menu1 ul li:hover,#menuDZ ul li :hover,#menu2 ul li:hover{
    background-color: brown;
}
#menu2 ul li{
    position: relative;
    display: block;
    width: auto;
    height: auto;
    float: none;
    background: #9e161f;
    transition: 0.5s;

}
h3,li,h2,h1,h4,h5,h6,a,ul,b,i,p {
    font-family: "Bytesized", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
i {
    font-family: "Bytesized", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
b {
    font-family: "Cormorant Garamond", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}
a {
    font-family: "Marck Script", cursive;
    font-weight: 400;
    font-style: normal;
  }
